<h1>{{title}}</h1>

<div class="well">
	<ul class="nav nav-list">
	  <li class="nav-header">
	    Collections
	  </li>
		{{#each items}}
		    <li><a href="/collection/{{collectionName}}">{{collectionName}}</a></li>
		{{/each}}
	</ul>
</div>