

.navbar-inner {
	background-color: #E8C0DD;
	background-image:none;
}

.navbar .brand, .navbar .nav > li > a {
	color:#111;
}

.orchid {
	background:url(/images/orchid-piece.png) no-repeat center 10px;
	opacity:0.1;
	position:fixed;
	top:50px;
	height:100%;
	width:100%;
	display:block;
	z-index:-1;
}